.Header {
    padding: 30px 20px;
    display: grid;
    grid-template-areas: "logo nav";
    background: #222;
    text-align: left;
}

.Nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: stretch;
    justify-items:end;
}

.Home {
    background-color: transparent;
    border: none;
    color: white;
    font-size:x-large;
}

.About {
    background-color: transparent;
    border: none;
    color: white;
    font-size:x-large;
}
